<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473905946457-c4t28f2dqji9gq1i4sa8enb9e9rml2jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473905946457-c4t28f2dqji9gq1i4sa8enb9e9rml2jh</string>
	<key>API_KEY</key>
	<string>AIzaSyATuvQRpXipqt_mXT4SSBJRaUsTpmU_NHY</string>
	<key>GCM_SENDER_ID</key>
	<string>473905946457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Robert-Bates.Socialcademy</string>
	<key>PROJECT_ID</key>
	<string>socialcademy-d05b8</string>
	<key>STORAGE_BUCKET</key>
	<string>socialcademy-d05b8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473905946457:ios:54d70ea29847b9dcb3f648</string>
	<key>DATABASE_URL</key>
	<string>https://socialcademy-d05b8-default-rtdb.firebaseio.com</string>
</dict>
</plist>